language: node_js
node_js:
- "8"
before_script:
- npm run test
- node make.js build
before_deploy:
- node make.js after_build
deploy:
  provider: npm
  edge: true
  email: atsquad@cimpress.com
  api_key:
    secure: dIIN4PhDVU61o/O6LzM7wFYoqiKbT1ITLtbXkjSTsSyvoIFomm5QmcYXuA8zJndnJ1KA0hftK0RjgWWJKC43nIj4494QSujcnr67L4bLivfZX5+DbNaJqjz7a+D5ZYFmz00rYXg8brgbiSvunJjuZnZwTFuSi2Djbu/7hVm28TZKt7UFe0gZYIfplnjIM1MpFv7ZRwV5zysH4MXwlRaoZzyaP1cnBA69L0PSTf6OfwxGDW61sCr46cGDm5hsjTq8AbU5QsOYH5fUmeUDBS+elacaRaaewRC8C9u60hVSnEoCJm+uBENbKzHIqugLad8jOvGpzEIJ0H3bOb/lI/qXS4gke58QHa/B/hCtgWf5xXssF5aGSLmnclbsdQ8iAOwopXnGkvxHIeEjUSMPLdDtqQhOR8ullA7rBLDplKVwkJEIHG8mhwX5f2dU73B4+6zhA9NgNMXld67hd0fMxXA/AJeuJdNIXpmv54cShDYbEYPtDhWFxY8PR+PuZi3qMxAxh2elWmUGr172CVPF72/HvvzFYgDEb5K/ROIfBP52yMh2fWVCDPqd0jG/RhLtDP0vMdRtgNwaxCIM6Fvqee5YJT6L1A2d1SVF7Vr4RGbLbw0T8Cv/muFwxXZOjWXEFi4LXKEbnuIDZYkrQtTKZkZdtYzu8MLtard25hrsYTKsE+o=
  skip_cleanup: true
  on:
    all_branches: true
    condition: "$TRAVIS_BRANCH != master"
branches:
  only:
  - master
  - "/^release.*/"
env:
  global:
    secure: 5PP14WtVWeVLhexcRIm+DZZivD87v8N7KQeysjv75ID3hMRx/U1QiqC0MZ39foA5JVZVbbA12wFYrwjx6JaYk+cWA0H8Wx6kfKQ9FzK1vofJYoRt48xrhcXPGTrnnPrAW+dFRQt22yoCclvo2eceDt/Ae7ZAnIjSB7rtEuHeJIcfd2ZtLumdPxbh0BYgoLHrcUyZlaFcSmc1+4dPSsFIfkSNfwkVx09FpLP0ULAeLfIszCh118vp1Ht/KaT8x4pz8FC2x+lPG77zr1OZWZvEpVLi7dvCv62uzUauBvFDt1IWcoki8Lhre54UtHf68H1maXSt0RJsrRczDfeZdmeopCbQOyXL9b/M3uH5GU2RQEPzAhpXAy2tsc5/EEZWDGx6dV5u5lWgw4gnkhQFcGjev9cAcWppObaIP8qI9wLfMXdP8LYIuYfg3tN7SRmsYliKqWHNL6V6pqLudCAva4EaKqQz+mbQSsSkLGqrlEMYczGHhzmNOZQdO6/u3IM4pW1ufItDfbmRpZdObJCTpTJUZtkN4LcNZ/JWXd0H1mfnT4A6UrbAfCd2pTJlUwCmoi/Xls/z67httK32o4kQxO6PWNcM4o8imHW3g1D1ILC5QZ1rV/kTChvxRpeScUJiD99K/rU34E0PYNY4rCreTfuojjyRTWvjPZzzYK0/aoF7P38=
